<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-sm-3">
    <%= render 'users/user' %>
  </aside>
  <div class="col-sm-9">
    <%= render 'orders/order' %>
    <%= link_to "물품 보관하기", ordering_path, class: "btn btn-lg btn-success" %>
  </div>
</div>