<div class="jumbotron" id="iambox">
  <h1>아이엠박스</h1>
  <h3>
    찾아가는 물품보관 서비스 <a href="#"><strong>아이엠박스</strong></a>
  </h3>
  <%= link_to "물품 보관하기", ordering_path, class: "btn btn-lg btn-success welcome-margin" %>
</div>