<div class="row welcome-padding" id="iambox">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag("welcome/main_character.png", class: "iambox-charactor") %>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag("welcome/main_text.png", class: "iambox-text") %>
          </div>
          <div class="col-md-12">
            <%= link_to "물품보관 신청하기", ordering_path, class: "btn btn-lg btn-default" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>