<div class="modal fade" id="welcome-notice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">신규 물품 보관 및 픽업 제한 공지</h4>
      </div>
      <div class="modal-body">
        <%= image_tag("notice/info_renewal.png", class: "centered") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary form-control" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->