<div class="modal fade" id="welcome-notice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">추석 연휴간 서비스이용 공지</h4>
      </div>
      <div class="modal-body">
        <p>추석연휴(9월 6일 ~ 9월 9일)동안 서비스 배송 및 픽업이</p>
        <p><span class="text-danger"><strong>불가능</strong></span>하오니 이점 착오 없으시길 바랍니다.</p>
        <%= image_tag("welcome/chusuck.png", class: "centered") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary form-control" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->