<div id="pricing" class="welcome-padding">
  <div class="page-header">
    <h2>물품보관 예상견적</h2>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 well">
      <%= form_tag("/pricing", method: :get, authenticity_token: true, remote: true, id: "pricing-form") do %>
      <div class="row">
        <div class="col-sm-6">
          <%= render 'welcome/pricing/unit' %>
        </div>
        <div class="col-sm-6">
          <%= render 'welcome/pricing/date' %>
          <%= render 'welcome/pricing/address' %>
        </div>  
      </div>
      <% end %>
      <div class="row" id="result">
      </div>
    </div>
  </div>
</div>