<div class="welcome-padding" id="using_type">
  <h1>서비스 유형</h1>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("logo.jpg") %>
        <div class="caption">
          <h3>유학생 캐리어</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("logo.jpg") %>
        <div class="caption">
          <h3>일반 개인물품</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("logo.jpg") %>
        <div class="caption">
          <h3>이사짐 보관</h3>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("logo.jpg") %>
        <div class="caption">
          <h3>공간 렌탈</h3>
        </div>
      </div>
    </div>
    
  </div>

</div>
