<div class="row welcome-padding" id="using_type">
  <div class="col-md-12">
    <h2><strong>물품보관 유형</strong></h2>

    <div class="row">
      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/storage-1.png") %>
          <h3>여행용 가방</h3>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/storage-2.png") %>

          <h3>한국인 개인</h3>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/storage-3.png") %>

          <h3>외국인 관광객</h3>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="thumbnail">
          <%= image_tag("welcome/storage-4.png") %>

          <h3>외국인 관광객</h3>
        </div>
      </div>
    </div>
  </div>
</div>
