<div class="welcome-padding" id="using_type">
  <div class="page-header well">
    <h2><strong>서비스 유형</strong></h2>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-1.png") %>
        <div class="caption">
          <h3>캐리어</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-2.png") %>
        <div class="caption">
          <h3>개인물품</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-3.png") %>
        <div class="caption">
          <h3>이사짐</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-4.png") %>
        <div class="caption">
          <h3>공간렌탈</h3>
        </div>
      </div>
    </div>

  </div>

</div>
