<div class="welcome-padding" id="using_type">
  <div class="page-header">
    <h1>서비스 유형</h1>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-1.png") %>
        <div class="caption">
          <h3>유학생 캐리어</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-2.png") %>
        <div class="caption">
          <h3>일반 개인물품</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-3.png") %>
        <div class="caption">
          <h3>이사짐 보관</h3>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="thumbnail">
        <%= image_tag("welcome/storage-4.png") %>
        <div class="caption">
          <h3>공간 렌탈</h3>
        </div>
      </div>
    </div>

  </div>

</div>
