<div class="row welcome-padding" id="values">
  <div class="col-md-12">
    <%= image_tag('welcome/values-header.png', class: "welcome-header") %>

    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-sm-4">
            <%= image_tag('welcome/values-1.png', class: "values-item") %>
          </div>
          <div class="col-sm-4">
            <%= image_tag('welcome/values-2.png', class: "values-item") %>
          </div>
          <div class="col-sm-4">
            <%= image_tag('welcome/values-3.png', class: "values-item") %>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>