<% provide(:title, "찾아가는 물품보관 서비스") %>
<a data-background-color="#990000">Paint it red</a>
<a data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>

<div class="center">
  <%= render 'welcome/iambox' %>
  <%= render 'welcome/usage' %>
  <%= render 'welcome/pricing' %>
</div>