<% provide(:title, "찾아가는 물품보관 서비스") %>

<div class="center">
  <%= render 'welcome/iambox' %>
  <%= render 'welcome/usage' %>
  <%= render 'welcome/pricing' %>
  <%= render 'welcome/use_report' %>
</div>