<% provide(:title, '이용약관')%>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center"><strong>아이엠박스 이용약관</strong></h1>
    <p>&nbsp;</p>
    <p>본 약관은 아이엠박스(이하 &#8220;회사&#8221;라 함)의 물품보관 서비스를 제공하는데 있어 필요한 주요사항을 규정한 것으로서 고객이 충분히 내용을 숙지하고 이용할 수 있도록 하는데 그 목적이 있습니다.</p>
    <p>&nbsp;</p>
    <p><strong>제 1조 (약관의 명시, 효력 및 변경)</strong></p>
    <p>1) 회사는 서비스를 이용하고자 하는 고객을 위해 본 약관을 사이트(www.iambox.co.kr)의 메인화면에 게시한다.</p>
    <p>2)회사는 약관을 개정하는 경우에는 개정된 약관의 적용일자 및 개정사유를 명시하여 적용일자 7일 이전부터 적용일 전일까지 상기1)항의 사이트(www.iambox.co.kr)의 화면에 게시하는 방법으로 공지하며, 적용일부터 그효력이 발생한다.</p>
    <p>3) 회사가 약관을 개정하는 경우에는 개정된 약관의 적용일자 및 개정사유를 명시하여 현행약관과 함께 제1항의 방식에 따라 그 개정약관의 적용일자 30일 전부터 적용일자 전일까지 공지한다. 다만, 고객에게 불리한 약관의 개정의 경우에는 공지 이외에 일정기간 서비스내 전자우편, 전자쪽지, 로그인시 동의창 등의 수단을 통해 따로 명확히 통지한다.</p>
    <p>4) 회사가 전항에 따라 개정약관을 공지 또는 통지하였음에도 고객이 명시적으로 거부의 의사표시를 하지 아니한 경우 고객이 개정약관에 동의한 것으로 본다.</p>
    <p>5) 고객이 개정약관의 적용에 동의하지 않는 경우 회사는 개정 약관의 내용을 적용할 수 없으며, 이 경우 고객은 이용계약을 해지할 수 있다. 다만, 기존 약관을 적용할 수 없는 특별한 사정이 있는 경우에는 회사는 이용계약을 해지할 수 있다.</p>
    <p>&nbsp;</p>
    <p><strong>제 2조 (용어의 정의)</strong></p>
    <p>1) &#8216;고객&#8217;이라 함은 약관을 승인하고 회사의 서비스를 이용한 자를 말합니다.</p>
    <p>2) ‘손해배상한도액’이라 함은 보관물품의 멸실, 훼손시에 회사가 손해를 배상할 수 있는 최고한도액을 말하며, 회사는 손해배상한도액을 미리 이 약관에 명시한다.</p>
    <p>&nbsp;</p>
    <p><strong>제 3조 (이용계약의 성립)</strong></p>
    <p>1) 회사의 서비스를 이용하고자 하는 고객이 회사의 서비스 이용신청서를 작성하고 소정의 보관료를 선납함으로써 계약은 성립하는 것으로 한다.</p>
    <p>2) 신청서에 기재되지 않은 조건으로 이용할 경우에는 회사와 별도합의를 한 후 이용신청서에 추가 기재를 함으로써 계약의 효력을 갖게 된다.</p>
    <p>&nbsp;</p>
    <p><strong>제 4조 (대금결제)</strong></p>
    <p>1) 보관료</p>
    <p>- 보관료는 보관신청서 작성시 계약기간이 3개월미만일 경우에는 전액을, 3개월 이상일 경우에는 3개월 단위로 선납한다.</p>
    <p>- 고객의 사정에 의해 보관계약기간중 중도해지하는 경우 계약기간이 3개월미만일 경우에는 계약기간 전체에 해당하는 보관료의 10%를 위약금으로, 3개월이상일 경우에는 3개월분 보관료의 10%를 위약금으로 공제하며, 위 위약금과 고객이 보관서비스를 이용한 기간을 일할계산한 보관료를 공제한 나머지 금원을 환불한다.</p>
    <p>- 1개월 미만의 보관 서비스를 이용하는 경우에는 보관 기간의 50% 에 해당하는 금액만 환불가능하다</p>
    <p>- 계약기간 만료후에도 계속 이용하고자 할 경우에는 기간 만료일로부터 7일전까지 회사에 그 뜻을 전하고 갱신계약체결과 동시에 상기 첫 항의 내용에 따른 보관료를 선납한다. 단, 갱신계약체결이 어려울 경우 해당 보관료를 회사 은행계좌에 입금함으로써 그 효과를 대신할 수 있다.</p>
    <p>2) 부가가치세 : 본 대여서비스의 이용요금에는 부가가치세(VAT) 10%가 별도로 가산된다.</p>
    <p>&nbsp;</p>
    <p><strong>제 5조 (통지)</strong><br />
      1) 고객은 보관료를 변경 또는 증가시킬 수 있는 사유가 발생할 경우 회사에 즉시 통보한다. 이를 해태한 때에는 회사는 그 사실을 안 날로부터 1개월내에 보관료의 증액을 청구하거나 계약을 해지할 수 있다.</p>
    <p>2) 고객의 주소지변경 등 신청서상의 내용에 변동이 생길 경우 회사에 즉시 통보한다.</p>
    <p>3) 회사의 고객에 대한 통지 또는 최고는 이용신청서에 기재된 고객의 주소지(계약체결후 제2항에 따라 고객이 정식으로 회사에 주소지 변경신청을 하여 주소지가 변경된 경우에는 변경된 주소지)로 한다.</p>
    <p>4) 상기 1)항과 2)항의 고지를 해태함으로써 생긴 손해에 대해서는 고객이 부담한다.</p>
    <p>5) 고객은 계약기간 만료일로부터 7일 이전에 연장여부를 통보해야 한다.</p>
    <p>6) 회사는 보관료등의 금액변동이 생길 경우 변경일로부터 15일 이전에 고객에게 통보해야한다.</p>
    <p>&nbsp;</p>
    <p><strong>제 6조 (보관하지 못하는 물품)</strong><br />
      아래 명시된 물품 등에 대해서는 보관 위탁이 불가능하다. 회사에 고지하지 아니하고 아래 물품에 대한 보관위탁을 하였음이 확인될 경우 회사는 즉시 계약을 해지할 수 있으며, 아래 물품의 훼손, 멸실 등에 대해서는 책임 지지 않는다.</p>
    <p>1) 화약류, 총포 도검류와 인화물질 및 위험한 물품 등인 경우</p>
    <p>2) 법으로 보관유통이 금지된 물품 또는 범죄행위에 제공하였거나 제공하려고 한 물건, 범죄행위로 인하여 생겼거나 이로 인하여 취득한 물건 또는 그 대가로 취득한 물건 등인 경우</p>
    <p>3) 현금 및 유가증권 등의 현금화될 수 있는 물품 등인 경우</p>
    <p>4) 보석,골동품 등의 고가물품 등인 경우</p>
    <p>5) 살아있는 동물, 동물 사체 등인 경우</p>
    <p>6) 변질 및 물성이 변할 수 있는 물품 등인 경우</p>
    <p>7) 보관이 법령, 사회질서 기타 선량한 풍속에 반하는 경우</p>
    <p>8) 기타 위 항에서 예시된 물품 등에 준하여 회사가 보관이 곤란하다고 판단되는 물품</p>
    <p>&nbsp;</p>
    <p><strong>제 7조 (보관시 유의사항)</strong><br />
      고객은 보관물품을 그 성질, 중량, 용적 등에 따라 보관에 적합하도록 사전 처리 내지 포장하여야 한다. 회사는 보관물품의 종류, 수량, 상태 등에 대해 고객의 동의를 얻어 그 참여하에 이를 확인할 수 있다. 고객이 정당한 이유 없이 확인을 거절하거나 고객이 고지한 내용과 보관물품의 종류, 수량, 상태 등이 상이할 경우 회사는 보관위탁을 거절할 수 있다.</p>
    <p>1) 의류는 반드시 드라이크리닝 또는 세탁 등을 한 후에 완전건조 후 보관해야 한다.</p>
    <p>2) 세탁을 안했거나, 미건조시 곰팡이 부식부패의 원인이 되며, 밍크코트 및 가죽의류와 같은 고가의류 등은 장기 보관시 제습제를 반드시 넣고 잘 포장하여야 하며, 습기에 약한 전자제품의 경우도 습기방지에 신경을 써야 한다.</p>
    <p>3) 세탁기는 물기를 제거하고 배수호스를 분리하여 세탁조 내부에 보관해야 하며, 물기를 제거하지 않고 장기보관할 경우 재가동 기능장애 요인이 될 수 있다.</p>
    <p>5) 현금이나 예금통장, 유가증권, 인감, 귀중품, 귀중문서, 고가의 서화, 위험물, 화초류 등은 보관위탁이 불가능하오니 고객께서 별도 보관하셔야 한다.</p>
    <p>6) 귀중품은 금융기관의 보관창구를 활용하시기 바라며, 이러한 귀중품을 회사의 허락없이 보관한 경우에는 분실 등에 대해서 회사에서는 책임을 지지 않는다.</p>
    <p>7) 가구류는 먼지를 제거하고 물세척시에는 반드시 건조를 해야 하며, 식기류등 주방용품은 깨끗이 닦은 다음 물기를 제거한 후 에어캡으로 포장을 해야 한다.</p>
    <p>9) 기타 회사가 보관이 곤란하다고 판단되는 물품에 대해서는 회사의 보관 및 분실책임이 없다.</p>
    <p>&nbsp;</p>
    <p><strong>제 8조 (장기방치물품 처리)</strong><br />
      1) 계약만기일로부터 14일 이상 경과한 물품은 회사에서 수거 별도 보관할 수 있다.<br />
      회사는 고객에게 1주일 이상의 기간을 정하여 그 기간 내에 보관물품을 찾아가지 아니하면 회사에서 임의처분할 수 있음을 통지하고, 위 통지에서 정한 기간 내 또는 계약만기일로부터 30일이 경과하기 전에 보관물품을 찾아가지 아니하면 보관물품을 임의처분할 수 있다.</p>
    <p>2) 고객이 상기 1항의 장기보관물품을 수령하고자 할 때에는 해당기간 동안의 이용료와 가산이자 20%를 가산한 금액을 지불해야 합니다.</p>
    <p>3) 계약만기일이후 연장에 대한 보관 사용료를 지급하지 않을 경우 회사는 보관물품에 대해 유치권을 행사할 수 있다.</p>
    <p>4) 제1항의 통지에서 정한 기간 또는 계약만기일로부터 30일이상 경과한 물품에 대해서는 회사가 임의로 처분해도 이의를 제기하지 않는다. 회사의 임의 처리 방법에는 이용신청서에 기재된 고객의 주소지(계약체결후 제6조 제2항에 따라 회사로 정식으로 변경신청 처리된 주소지)로의 착불 택배 발송, 고객의 주소지 불명 연락 불능 등 소재불명의 경우 공탁을 하거나 경매처분, 감정평가후 임의 매각 등의 조치가 포함된다.</p>
    <p>&nbsp;</p>
    <p><strong>제 9조(회사의 면책사항)</strong><br />
      1) 회사는 다음과 같은 사유로 인하여 손해가 발생한 경우 고객에게 책임을 지지 않는다.</p>
    <p>- 천재지변 기타 불가항력으로 인하여 손해가 발생한 경우</p>
    <p>- 고객이 제5조, 6조, 제7조, 제8조의 사항을 위반함으로써 손해가 발생한 경우</p>
    <p>- 입고 전 내용 및 기능을 확인한 사항이 아닌 부분</p>
    <p>- 적재 및 물품 입/출고 등의 과정에서 고객의 고의 또는 과실로 인해 발생한 손해</p>
    <p>- 고객의 물품보관상 고의 또는 과실로 인해 고객 본인 또는 다른 고객에게 손해가 발생한 경우</p>
    <p>&nbsp;</p>
    <p><strong>제 10조 (손해배상)</strong><br />
      1) 회사는 회사의 귀책으로 명백히 발생한 경우를 제외하고는 배상하지 않는다.</p>
    <p>2) 고객의 고의 또는 과실로 손해가 발생한 경우 그 손해에 관한 책임은 고객에게 있으며, 고객의 고의 또는 과실로 인해 다른 고객에게 발생한 손해에 대해서는 고객에게 배상책임이 있다.</p>
    <p>3) 명백히 회사의 귀책사유로 손해가 발생한 경우 회사의 손해배상은 다음 각 호에 의한다. 이 경우 손해배상한도액은 박스당 30만원, 귀중품은 150만원으로 한다.</p>
    <p>1. 전부 또는 일부 멸실된 때: 신청서에 기재된 보관물품의 가액을 기준으로 산정한 손해액의 지급<br />
      2. 훼손된 때<br />
      가. 수선이 가능한 경우: 수선해 줌<br />
      나. 수선이 불가능한 경우: 제1호에 의함</p>
    <p>4) 고객이 신청서에 보관물품의 가액을 기재하지 않은 경우에는 회사의 손해배상은 다음 각호에 의한다. 이 경우 손해배상한도액은 50만원으로 합니다.</p>
    <p>1. 전부 멸실된 때: 인도예정일의 인도예정장소에서의 보관물품 가액을 기준으로 산정한 손해액의 지급<br />
      2. 일부 멸실된 때: 인도일의 인도장소에서의 보관물품가액을 기준으로 산정한 손해액의 지급<br />
      3. 훼손된 때<br />
      가. 수선이 가능한 경우: 수선해 줌<br />
      나. 수선이 불가능한 경우: 제2호에 의함</p>
    <p>&nbsp;</p>
    <p><strong>제 11조 (고객 의무사항)</strong><br />
      1) 보관장소 및 보관장소 이용권, 기타 권리를 제3자에게 양도하거나 질권, 양도담보권 기타 일체의 권리를 설정할수없다.</p>
    <p>2) 또한 어떠한 방법으로도 본 서비스상의 일체의 권리를 타인에게 양도할 수 없다.</p>
    <p>&nbsp;</p>
    <p><strong>제 12조 (계약 해지 등)</strong><br />
      다음 각호의 경우 회사는 고객과의 보관계약을 해지할 수 있다. 계약 해지는 회사의 고객에 대한 손해배상 청구에는 영향을 미치지 않는다. 계약 해지시 회사는 고객에게 즉시 통지를 하여야 하며, 계약 해지된 보관물품의 처리는 제8조의 예에 따라 처리되며, 계약 해지시 보관료의 정산 위약금은 제4조 제1항의 예에 따라 처리된다.</p>
    <p>1) 제5조 제1항에 반하여 보관료를 변경 또는 증가시킬 사유가 발생하였음에도 불구하고 즉시 고객이 회사에 통지를 하지 않았을 경우</p>
    <p>2) 제6조에 위반하여 보관하지 못하는 물품에 대해 보관을 위탁한 사실이 발견된 경우</p>
    <p>3) 제7조에 위반하여 고객이 보관시 유의사항을 준수하지 아니함으로 인해 보관제품에 손상이 발생할 우려가 있거나, 다른 고객의 보관 물품에 손상을 끼칠 우려가 있는 경우</p>
    <p>4) 제5조1항에 의해 보관료 납부의무 개시일로부터 2개월 이상 납부를 연체한 경우</p>
    <p>&nbsp;</p>
    <p><strong>제 13조 (서비스 제공)</strong><br />
      1) 회사는 원활한 서비스를 제공하기 위해 필요한 경우 일정기간 동안 본 서비스를 중단시킨 후 보수 및 점검할 수 있다.</p>
    <p>2) 회사는 정부, 법원, 수사기관 기타 법률상 적법한 요청이 있는 경우 서비스를 중단시킨 후 조사 등이 진행될 수 있도록 할 수 있다.</p>
    <p>3) 회사는 서비스와 관련된 사용자의 불편사항이 접수되면 신속하게 처리하되, 신속한 처리가 곤란한 경우 사용자에게 사유 및 해결시기를 통보해 준다.</p>
    <p>&nbsp;</p>
    <p>제<strong> 14조 (적용법규)</strong><br />
      1) 본 사항 외 규정하지 않은 부분은 소비자기본법, 상법, 물류정책기본법등 관련법규 및 일반 상거래에 의거한다.</p>
    <p>2) 분쟁발생시 소송관할은 회사의 관할법원으로 합니다</p>
    <p>&nbsp;</p>
    <p><strong>제 15조 (책임의 특별소멸사유와 시효)</strong><br />
      1) 보관물품의 일부 멸실 또는 훼손에 대한 사업자의 손해배상책임은 고객이 보관물품을 수령한 날로부터 14일 이내에 그 일부 멸실 또는 훼손의 사실을 회사에게 서면으로 통지를 하지 않으면 소멸한다.</p>
    <p>2) 제1항의 규정은 회사 또는 그 사용인이 보관물품의 일부 멸실 또는 훼손의 사실을 알면서 이를 숨기고 보관물품을 인도한 경우에는 적용되지 아니한다. 이 경우에는 회사의 손해배상책임은 고객이 보관물품을 수령한 날로부터 5년간 존속한다.</p>
  </div>
</div>