<div class="form-group">
  <label for="order_pickup_address">픽업 주소</label>
  <%= text_field(:order, :pickup_address, class: "form-control input-lg", placeholder: "예) 서울시 강남구 역삼동 683-34 4층")%>
</div>

<div class="form-group">
  <label for="order_delivery_address">회송 주소</label>
  <%= text_field(:order, :delivery_address, class: "form-control input-lg", placeholder: "예) 서울시 강남구 역삼동 683-34 4층")%>
</div>
