<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for="order_pickup_address">픽업 주소</label>
      <%= text_field(:order, :pickup_address, class: "form-control input-lg", placeholder: "예) 서울시 강남구 역삼동 683-34 4층")%>
    </div>
  </div>
  <div class="col-sm-4">
    <label>픽업 시간</label>
    <%= select_hour(Time.now.hour, {prefix: "order[pickup_datetime]", start_hour: 10, end_hour: 20, prompt: "시"}, {class: "form-control input-lg"}) %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <label for="order_delivery_address">회송 주소</label>
      <%= text_field(:order, :delivery_address, class: "form-control input-lg", placeholder: "예) 서울시 강남구 역삼동 683-34 4층")%>
    </div>
  </div>
  <div class="col-sm-4">
    <label>회송 시간</label>
    <%= select_hour(Time.now.hour, {prefix: "order[delivery_datetime]", start_hour: 10, end_hour: 20, prompt: "시"}, {class: "form-control input-lg"}) %>
  </div>
</div>