<div class="terms">
  <h3 class="text-center">물품 보관 서비스 계약 및 이용약관</h3>
  <p>아이엠박스(이하 "갑"이라 한다)와 서비스신청자(이하 "을"이라 한다)는 다음과 같이 상호간에 물품 보관 서비스 계약을 체결한다.</p>
  <p><strong>제1조 【목 적】</strong></p>
  <p>본 계약은 “갑”의 물품 보관 서비스를 이용하는 “을”과 서비스의 세부내용을 명확하게 함으로써 상호간의 분쟁의 소지를 없애는데 있다. "갑"과 "을"의 계약은 "을"이 화면 하단의  '동의' 버튼을 누르고, 보관비용이 결제 완료되면 계약이 성사된다</p>
  <p><strong>제2조 【취급상품의 범위】</strong></p>
  <p>“갑”이 “을”에게 공급하는 서비스에 해당하는 물품은 일상생활 용품 등으로 하며, 부식 우려가 있는 식음료품, 화재 우려가 있는 화기 제품은 보관하지 아니한다. 동식물, 식음료품, 화기 제품 등 보관이 허용되지 않는 물품으로 인한 피해는 "을"이 모든 손해를 배상한다.</p>
  <p><strong>제 3 조 【 손해배상 】</strong></p>
  <p>1. “갑”은 “배송 및 보관” 중 자신의 귀책사유로 “을”에게 손해(분실, 파손)을 입힌 경우, 이에 관한 모든 손해를 배상한다.(보관 물품(박스) 당 최대 30만원 손해 배상)</p>
  <p>2. 귀중품의 경우는 보관 전 보험에 가입하여야 하며, 보관품 사진과 함께 보관 리스트에 명시 해야 한다. 만약 보험을 가입하지 아니하고, 리스트에 사진과 함께 명시가 되지 않는 물품의 분실, 파손의 책임은 "갑"의 이용약관의 보상 규약을 따른다.</p>
  <p>3. "을"은 파손 혹은 손상의 위험이 있는 물품들은 직접 포장을 하여야 하며, 사전에 "갑"에게 알려야 한다. 물품 파손의 막대한 귀책 사유가 "갑"에게 있지 않는 한, 물품 배송 중 발생하는 문제는 "갑"에게 책임을 묻지 않는다.</p>
  <p><strong>제 4 조 【 계약종료에 따른 조치 】</strong></p>
  <p>1. "본 계약"이 종료되기 전 "을" 은 "갑"에게 보관연장 신청을 할 수 있다. 계약 연장으로 인한 추가 비용은 '주' 또는 '월' 단위로 계산한다.</p>
  <p>2. “본 계약”이 종료되기 전 “갑”은 "을"에게 회송일정을 알린다. 회송 지연으로 인한 직간접적인 피해는 상호합의 하에 조율하며, "을"의 귀책 사유로 인한 회송 지연은 추가 보관 비용(보관 비용의 20%)을 지불한다.</p>
  <p>3. 계약된 보관 기간을 4주를 초과하고도, 고객으로부터 아무런 통보가 없는 경우, 보관 물품은 “갑”의 권한으로 임의 처리할 수 있으며 "을"은 “갑”에게 어떠한 법적 책임도 묻지 않는다. 단, "갑"은 "을"에게 적극적으로 연락을 취한다.(이용약관 참조)</p>
  <p><strong>제 5 조 【 분쟁의 해결 및 개인 정보 3자 제공 】</strong></p>
  <p>1.  “본 계약”에 규정되지 않은 사항은 "갑"의 이용약관을 따르며 분쟁 발생시 당사자간 합의로써 이를 해결한다.(아이엠박스 홈페이지 참조)</p>
</div>