<div class="panel-group" id="accordion">
  <%= render 'collapse/panel', panel: @unit_panel %>
  <%= render 'collapse/panel', panel: @date_panel %>
  <%= render 'collapse/panel', panel: @address_panel %>
</div>