<div class="panel-group" id="accordion">
  <%= render 'collapse/panel', panel: @unit_panel %>
  <%= render 'collapse/panel', panel: @pickup_panel %>
  <%= render 'collapse/panel', panel: @user_panel %>
</div>